<%= form_for @link do |l| %>
    <div class="row">
        <div class="input-field col s5 offset-s2">
            <%= l.text_field :url, id: "title", class: "validate" %>
            <label class="active" for="title">Adresse du site</label>
        </div>
        <br>
        <%= l.submit "Ajouter", class: "waves-effect waves-light btn" %>
    </div>
<% end %>